body {
    background-color: black;
}

img {
    border: 5px solid white;
    width: 50%; 
    height: 50%;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.poster {
    width: 50%;
    margin: auto;
    /* either margin: auto or margin-left: 15%. margin-top: 10% can be used (instead of the padding rule below) */
    color: white;
    text-align: center;
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.25rem;
  }

  
